    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    background: url(./image/anime-style-house-architecture.jpg) no-repeat center/cover;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    overflow: hidden;           
}
.box {
    border: 2px solid white;
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 250px;
    backdrop-filter: blur(2px);
} 
.box h1 {
    color: white;
    text-align: center;
}
.box input {
    text-align: center;
    height: 25px;
    width: 200px;
    border: 2px solid black;
    font-size: 20px;
  
}
.box a {
    display: block;
    text-align: center;
    color: white;
}
.box button {
    height: 25px;
    width: 200px;
    border: 2px solid black;
    font-size: 18px;
}
.box p {
    color: white;
    text-align: center;
}